* {
    margin: 0;
    padding: 0;
}

p {
    color: burlywood;
    font: 24px;
}

div a {
    color: green;
}

div >a {
    color: blue ;
}

[href] {
    text-decoration: line-through;
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
}

.square[alt]
{
    background: red;
}
